<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="HostName" value="localhost" />
    <add key="HostPort" value="8001" />
    <add key="ConnectTimeoutSecs" value="30" />
  </appSettings>
</configuration>